<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transport.mall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.transport.mall.utils.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup">

        <activity
            android:name="com.transport.mall.ui.authentication.pre_login.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparenttheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.transport.mall.ui.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.transport.mall.ui.authentication.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.transport.mall.ui.addnewdhaba.AddDhabaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.transport.mall.ui.addnewdhaba.step3.amenities.AmenitiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.transport.mall.ui.addnewdhaba.GoogleMapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.common.fullimageview.ImagePagerActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Define your service, make sure to add the permission! -->
        <service
            android:name="com.transport.mall.repository.networkcheck.NetworkSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYJCariN6djEQQDnt6hy482EeCV4sRVYQ" />

    </application>

</manifest>